// FOOTER
footer {
    background: #333;
    overflow: hidden;
    padding: 14vmin 18vmin;

    p {
        padding: 0.5vmin;
    }

    span {
        color: #00ecbc;
    }

    .input-group {
        input {
            border: none !important;

            &::placeholder {
                color: white !important;
            }
        }

        .input-group-text {
            background: $gradient;
            border: none;
            cursor: pointer;
        }
    }

    .column {
        color: #00ecbc;

        i {
            font-size: 3vmin;
            padding: 0 0.4em;
            cursor: pointer;
        }
    }

}