// ----MAIN-------
main {

    // SECTION #1
    .section_1 {
        padding: 20vmin 0;

        .row {
            .col-md-6 {
                .photo {
                    img {
                        opacity: 0.8;
                        width: 80%;
                        border-radius: 0.2em;
                    }
                }

                &:last-child {
                    position: relative;
                }
            }

            .col-md-6 {
                .panel {
                    position: absolute;
                    top: 7vmin;
                    left: -18vmin;
                    background: white;
                    border-radius: 3px;
                    text-align: left;
                    padding: 13vmin 5vmin 20vmin 10vmin;
                    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
                    font-family: $Rubik;
                    z-index: 1;

                    h2 {
                        font-weight: bold;
                        padding: 0.4em 0;
                        font-size: 2em;
                    }

                    p {
                        font-size: 0.9em;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }

    // SECTION #2
    .section_2 {
        .cover {
            width: 100%;
            height: 55vmin;
            background: url('../assets/BANNERMAIN/BannerMain_2.jpg');
            background-position: 10rem -27rem;
            background-size: 100%;
            position: relative;

            .content {
                background: rgba(0, 0, 0, 0.7);
                height: 100%;
                width: 100%;
                padding-top: 19vmin;

                h2 {
                    font-family: $PatuaOne;
                    font-size: 6vmin;
                    color: whitesmoke;
                }

                p {
                    font-family: $Rubik;
                    font-size: 2vmin;
                    color: #e5e5e5;
                }
            }
        }

        .container-fluid {
            .numbers {
                margin-top: -15vmin;

                .rect {
                    position: relative;
                    z-index: 1;
                    background: white;
                    width: 17rem;
                    height: 12rem;
                    padding-top: 3.5vmin;
                    margin: 1rem;
                    border-radius: 0.5em;
                    box-shadow: 1px 2px 50px rgba(0, 236, 188, 0.449);

                    h2 {
                        font-size: 5rem;
                        color: #00ecbc;
                    }

                    p {
                        font-family: $PatuaOne;
                    }
                }
            }
        }

        .purchase {
            .cards {
                div {
                    padding: 0;
                    margin: 0;
                }

                .card {
                    width: 22rem;
                    margin: 3vmin;

                    .card-body {
                        .title {
                            background: rgba(208, 241, 241, 0.199);
                            padding: 1.4rem 2.5rem;
                            font-size: 2vmin;
                        }

                        .card-text {
                            padding: 2.5rem 3rem;
                            color: $light-black;
                        }

                        .pricing {
                            background: rgba(208, 241, 241, 0.199);
                            border-bottom-right-radius: 170px;
                            border-bottom-left-radius: 170px;

                            h2 {
                                font-size: 8vmin;
                                padding: 1em 0.5em;
                            }
                        }
                    }
                }
            }
        }
    }

    // SECTION #3
    .section_3 {
        height: 70vmin;
        margin-top: 15vmin;
        background: $gradient;

        .col-md-12 {
            h2 {
                padding: 2em 0 0.5em 0;
                color: whitesmoke;
                font-size: 6vmin;
            }

            p {
                padding: 0 4em;
                padding-bottom: 2em;
                color: $light-gray;
                font-size: 3vmin;
            }
        }

        .desktop {
            background: white;
            display: inline-block;
            border-radius: 3em;
            padding: 2vmin 4.5vmin;
            margin: 1em;

            h3 {
                font-size: 4vmin;
            }

            p {
                font-size: 2vmin;
            }
        }
    }

    // SECTION #4
    .section_4 {
        .container {
            h2 {
                font-size: 6vmin;
                padding-top: 14vmin;
            }

            p {
                font-size: 1.5em;
            }
        }

        .team {
            padding: 10vmin 4vmin;

            .card {
                width: 22rem;
                margin-top: 10vmin;

                .border-radius {
                    border-radius: 340px;
                    width: 60%;
                }

                .card-body {
                    a {
                        font-size: 1.5em;
                    }

                    .card-text {
                        padding: 0.5em;
                    }
                }

            }
        }

        .carousel-item {
            padding-left: 3rem;
        }
    }
}