// ----MAIN-------

// SECTION #1

main {
    .section_1 {
        padding: 20vmin 0;

        .row {
            .col-md-6 {
                .photo {
                    img {
                        opacity: 0.8;
                        width: 80%;
                        border-radius: 0.2em;
                    }
                }

                &:last-child {
                    position: relative;
                }
            }

            .col-md-6 {
                .panel {
                    position: absolute;
                    top: 7vmin;
                    left: -18vmin;
                    background: white;
                    border-radius: 3px;
                    text-align: left;
                    padding: 13vmin 5vmin 20vmin 10vmin;
                    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
                    font-family: $Rubik;
                    z-index: 1;

                    h2 {
                        font-weight: bold;
                        padding: 0.4em 0;
                        font-size: 2em;
                    }

                    p {
                        font-size: 0.9em;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
}